name: CI

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  # GitHub has started calling new repo's first branch "main" https://github.com/github/renaming
  # The cookiecutter uses the "--initial-branch" flag when it runs git-init
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    # Weekly tests run on main by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * 0"

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12']
    container: condaforge/mamba-base:latest
  
    steps:
      - name: Check out code
        uses: actions/checkout@v3.3.0

      - name: Install system dependencies
        run: |
          apt update && apt install -y git make

      - name: Setup environment for Python ${{ matrix.python-version }}
        run: |
          export PACKAGE_NAME=a3fe
          mamba create -y --name $PACKAGE_NAME python=${{ matrix.python-version }}
          mamba env update --name $PACKAGE_NAME --file devtools/conda-envs/test_env.yaml
          mamba run -n $PACKAGE_NAME pip install --no-deps -e .
          mamba run -n $PACKAGE_NAME pre-commit install || true

      - name: Run linting and tests
        run: |
          make lint
          make test
          make docs

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          file: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: michellab/a3fe
